apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: repository
  name: <PRIVATE_REPO_SECRET_NAME>
  namespace: argocd
type: Opaque
stringData:
  name: <PRIVATE_REPO_SECRET_NAME>
  password: <YOUR_GITHUB_PERSONAL_ACCESS_TOKEN>
  project: default
  type: git
  url: <YOUR_GITHUB_REPO_URL>
  username: <YOUR_GITHUB_USERNAME>
