# Ignore all secret files
# *secret.yaml
# *secret*
*repo-secret.yaml

# Ignore all config files containing sensitive data
# *config.yaml

# Ignore all environment variable files
.env
.env.*

# Ignore all log files
*.failed

# Ignore all credential files
*creds.yaml
*creds.*

# Ignore production Helm values containing sensitive information
gitops/apps/jp/values-prod.yaml
