# Ignore all secret files
# *secret.yaml
# *secret*
*repo-secret.yaml

# Ignore all config files containing sensitive data
# *config.yaml

# Ignore all environment variable files
.env
.env.*

# Ignore local development files
cmd.md