apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: <name-of-your-application>
  namespace: argocd
spec:
  destination:
    namespace: <target-namespace>
    server: https://kubernetes.default.svc
  project: <project-name>
  source:
    path: <path-to-manifests>
    repoURL: <repository-URL>
    targetRevision: HEAD
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
